@media (min-width: 320px) {
    .about__img {
        width: 180px;
    }
}

@media (min-width: 480px) {
    .about__img {
        width: 210px;
    }
}

@media (min-width: 640px) {
    .about__img {
        width: 250px;
    }
}

@media (min-width: 768px) {
    .about__img {
        width: 250px;
    }
}

@media (min-width: 1024px) {
    .about__img {
        width: 250px;
    }
}

@media (min-width: 1280px) {
    .about__img {
        width: 250px;
    }
}

@media (min-width: 1440px) {
    .about__img {
        width: 250px;
    }
}

@media (min-width: 1920px) {
    .about__img {
        width: 350px;
    }
}

.text-pred {
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: justify;
  }
  