/* Estilos para o componente Card */
.card_carrossel {
    width: 280px; /* Tamanho padrão para desktop */
    height: 400px;
    margin: 0 auto; /* Centraliza o card */
    border-radius: 16px;
    overflow: hidden;
}

.card_carrossel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card_carrossel p {
    color: #f5f5f5; /* Cor do texto */
    font-size: 18px; /* Tamanho do texto */
    padding: 10px;
    text-align: center;
}

/* Estilos responsivos para telas de 2X large (1440px) */
@media (max-width: 1440px) {
    .card_carrossel {
        width: 260px; /* Ajuste para telas grandes */
        height: 380px;
    }

    .card_carrossel p {
        font-size: 17px; /* Ajusta o tamanho do texto */
    }
}

/* Estilos responsivos para telas extra grandes (1280px) */
@media (max-width: 1280px) {
    .card_carrossel {
        width: 250px; /* Ajuste para telas extra grandes */
        height: 360px;
    }

    .card_carrossel p {
        font-size: 16px; /* Ajusta o tamanho do texto */
    }
}

/* Estilos responsivos para telas grandes (1024px) */
@media (max-width: 1024px) {
    .card_carrossel {
        width: 240px; /* Ajuste para telas grandes */
        height: 360px;
    }

    .card_carrossel p {
        font-size: 15px; /* Ajusta o tamanho do texto */
    }
}

/* Estilos responsivos para telas médias (768px) */
@media (max-width: 768px) {
    .card_carrossel {
        width: 230px; /* Ajuste para tablets */
        height: 360px;
    }

    .card_carrossel p {
        font-size: 16px; /* Reduz o tamanho do texto */
    }
}

/* Estilos responsivos para telas pequenas (480px) */
@media (max-width: 480px) {
    .card_carrossel {
        width: 60%; /* Tamanho ajustado para smartphones pequenos */
        height: 360px;
    }

    .card_carrossel p {
        font-size: 15px; /* Ajusta o tamanho do texto */
    }
}

/* Estilos responsivos para telas extra pequenas (320px) */
@media (max-width: 320px) {
    .card_carrossel {
        width: 80%; /* Tamanho ajustado para smartphones muito pequenos */
        height: 360px;
    }

    .card_carrossel p {
        font-size: 14px; /* Ajusta o tamanho do texto */
    }
}
