/* Estilos para o componente Card */
.card_carrossel {
    width: 280px; /* Tamanho padrão para desktop */
    height: 400px;
    margin: 0 auto; /* Centraliza o card */
    border-radius: 16px;
    overflow: hidden;
}

.card_carrossel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card_carrossel p {
    color: #f5f5f5; /* Cor do texto */
    font-size: 18px; /* Tamanho do texto */
    padding: 10px;
    text-align: center;
}

/* Estilos responsivos para tablets (768px) */
@media (max-width: 768px) {
    .card_carrossel {
        width: 230px; /* Ajuste para tablets */
        height: 330px;
    }

    .card_carrossel p {
        font-size: 16px; /* Reduz o tamanho do texto */
    }
}

/* Estilos responsivos para smartphones (até 492px) */
@media (max-width: 492px) {
    .card_carrossel {
        width: 60%; /* Tamanho ajustado para smartphones */
        height: auto;
    }

    .card_carrossel p {
        font-size: 14px; /* Ajusta o tamanho do texto para smartphones */
    }
}
