@media (min-width: 640px) {
    .container__foto__herosec {
        width: 50%;
        height: 100%;
        background-image: url('../../../public/foto11.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container__text__herosec {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        width: 50%;
        
    }
}

@media (min-width: 1024px) {
    .container__foto__herosec {
        width: 50%;
        height: 100%;
        background-image: url('../../../public/foto11.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container__text__herosec {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        width: 50%;
        
    }
}

@media (min-width: 1280px) {
    .container__foto__herosec {
        width: 50%;
        height: 100%;
        background-image: url('../../../public/foto11.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container__text__herosec {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        width: 50%;
        
    }
}

@media (min-width: 1536px) {
    .container__foto__herosec {
        width: 50%;
        height: 100%;
        background-image: url('../../../public/foto11.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container__text__herosec {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        width: 50%;
        
    }
}