@media (min-width: 640px) {
    .iconFooter {
        font-size: 29px;
    }
}

@media (min-width: 1024px) {
    .iconFooter {
        font-size: 34px;
    }
}

@media (min-width: 1280px) {
    .iconFooter {
        font-size: 42px;
    }
}

@media (min-width: 1536px) {
    .iconFooter {
        font-size: 50px;
    }
}